<ion-header>
  <ion-toolbar>
    <ion-title class="ion-padding-top">Clima</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h4 class="location">Santiago, Chile</h4>
  <div class="main-info">
    <img src="/assets/soleado.png" alt="">
    <h5>Soleado</h5>
    <h1>14°/30°</h1>
  </div>
  <div class="other-info ion-padding">
    <ion-card class="ion-padding">
      <div class="info">
        <h5>Viento</h5>
        <h3>a 11 km/h</h3>
      </div>
    </ion-card>
    <ion-card class="ion-padding">
      <div class="info">
        <h5>Humedad</h5>
        <h3>50%</h3>
      </div>
    </ion-card>
    <ion-card class="ion-padding">
      <div class="info">
        <h5>Prob. de precipitaciones</h5>
        <h3>1%</h3>
      </div>
    </ion-card>
    
  </div>
  <div class="hourly">
    <h3 class="ion-padding-start">Viernes, Hoy</h3>
    <div class="hourly-info ion-padding">
      <div class="info">
        <p>Ahora</p>
        <img src="/assets/soleado.png" alt="">
        <p>28°</p>
      </div>
      <div class="info">
        <p>10 AM</p>
        <img src="/assets/soleado.png" alt="">
        <p>16°</p>
      </div>
      <div class="info">
        <p>12 PM</p>
        <img src="/assets/soleado.png" alt="">
        <p>22°</p>
      </div>
      <div class="info">
        <p>18 PM</p>
        <img src="/assets/soleado.png" alt="">
        <p>28°</p>
      </div>
      <div class="info">
        <p>21 PM</p>
        <img src="/assets/soleado.png" alt="">
        <p>23°</p>
      </div>
    </div>
  </div>
  

</ion-content>
